Repository hmcts/sds-azure-platform, pull requests merged in 2022-12, with the labels that each got.

#328 swapping kv from infra-vault-sbox to infra-vault-nonprod
  azure-pipelines-frontdoor.yaml
  azure-pipelines.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/destroy, dev-frontdoor/destroy, prod-frontdoor/no-changes, prod-shutter/add-or-update

#327 VIH-9999 Remove scheduler and booking queue from all envs
  environments/dev/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-apim/no-changes, prod-trafficmanager/no-changes, prod-apim/no-changes, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, test-apim/no-changes, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/destroy, dev-frontdoor/destroy, prod-frontdoor/no-changes, prod-shutter/add-or-update, sbox-backendappgateway/destroy, ithc-backendappgateway/destroy, prod-backendappgateway/destroy, test-backendappgateway/destroy, stg-backendappgateway/destroy, dev-backendappgateway/destroy

#332 Skip prevent parallel runs step on plans
  azure-pipelines.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/destroy, dev-frontdoor/destroy, prod-frontdoor/no-changes, prod-shutter/add-or-update

#330 Adding rule for refrom redirct test
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/destroy, dev-frontdoor/destroy, prod-frontdoor/no-changes, prod-shutter/add-or-update

#335 Updating DEV rule
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/destroy, prod-frontdoor/no-changes, prod-shutter/add-or-update

#339 Revert landing zone module to master branch
  components/frontdoor/main.tf
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/destroy, prod-frontdoor/no-changes, sbox-shutter/destroy

#341 DTSPO-10836 - update module branches
  components/appgateway/main.tf
  components/backendappgateway/main.tf
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#344 DTSPO-11787. Sbox ADD new tag
  components/frontdoor/main.tf
Labels: sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, test-backendappgateway/add-or-update, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, dev-backendappgateway/add-or-update, dev-appgateway/add-or-update, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, ithc-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-apim/destroy, test-apim/destroy, prod-apim/destroy, demo-apim/destroy, stg-apim/destroy, ithc-apim/destroy, dev-apim/destroy, sbox-shutter/add-or-update, dev-trafficmanager/add-or-update, prod-trafficmanager/add-or-update
