Repository hmcts/sds-azure-platform, pull requests merged in 2023-02, with the labels that each got.

#354 PUB-1809 Add WAF exclusions for PIP-frontend
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-shutter/no-changes

#355 Update backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes

#357 PUB-1897 - Updated test tf vars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, sbox-shutter/destroy, stg-frontdoor/no-changes

#358 PUB-1897 Path traversal false positive
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#359 PUB-1897 - Path traversal false positive
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#360 Update exclusions for test
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#356 Included toffee as a frontend, added both clusters as destinations
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#361 Add remaining FE & BE apps to FD and APPGW
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#364 PUB-1897 - Update exclusions for test
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#366 PUB-1897 - Added regex rule
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#367 whitelist changes
  environments/dev/dev.tfvars
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes
