Repository hmcts/sds-azure-platform, pull requests merged in 2023-07, with the labels that each got.

#477 Revert "Remove ss-stg-01 to allow 1.26 AKS version upgrade"
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, stg-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#481 remove demo 00 from LB
  environments/demo/demo.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#484 Upgrade demo
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, stg-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#485 Re-add stg 00 back to agw
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, stg-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#489 Remove prod00 from appgw for upgrade
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, demo-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, prod-shutter/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes, sbox-frontdoor/destroy, ithc-frontdoor/destroy

#491 Remove prod01 from appgw
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#492 Revert "Remove prod01 from appgw"
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#496 Upgrade demo
  environments/demo/demo.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_shutter/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, demo_appgateway/add-or-update

#497 Upgrade demo
  environments/demo/demo.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_shutter/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, demo_appgateway/add-or-update

#488 PUB-1897 - PR for false positive
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, prod-shutter/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes, sbox-frontdoor/destroy, sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_shutter/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, stg_frontdoor/add-or-update

#498 Dtspo- 14285 Create new shutter infra
  azure-pipelines.yaml
  components/shutter_static_webapp/init.tf
  components/shutter_static_webapp/resource_group.tf
  components/shutter_static_webapp/static_webapp.tf
  components/shutter_static_webapp/variables.tf
  environments/sbox/sbox.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_shutter/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/add-or-update, sbox_shutter/destroy

#499 Update shutter webapp config
  components/shutter_static_webapp/data.tf
  components/shutter_static_webapp/init.tf
  components/shutter_static_webapp/static_webapp.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_shutter/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/add-or-update, sbox_shutter/destroy

#503 dtspo-14285 pass env variable to static webapp module
  components/shutter_static_webapp/static_webapp.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_shutter/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter/destroy, sbox_shutter_static_webapp/destroy

#505 Update prod.tfvars
  components/shutter_static_webapp/static_webapp.tf
  environments/prod/prod.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter/destroy, sbox_shutter_static_webapp/no-changes, prod_shutter/add-or-update

#507 Add Libra GoB Integration Service backend config
  environments/prod/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_frontdoor/no-changes, sbox_shutter/destroy, prod_shutter/add-or-update, sbox_shutter_static_webapp/destroy, prod_shutter_static_webapp/add-or-update

#508 DTSPO-14613: Cleanup UKWEST refs in repo
  components/apim/local.tf
  components/apim_appgw/local.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_frontdoor/no-changes, sbox_shutter/destroy, prod_shutter/add-or-update, sbox_shutter_static_webapp/destroy, prod_shutter_static_webapp/add-or-update

#509 DTSPO-14613: Pipeline Tests
  azure-pipelines.yaml
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter/destroy, sbox_shutter_static_webapp/no-changes, prod_shutter/add-or-update, prod_shutter_static_webapp/no-changes

#512 unshutter toffee
  environments/prod/prod.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter/destroy, prod_shutter_static_webapp/destroy

#511 Update shutter config
  components/shutter_static_webapp/static_webapp.tf
  environments/prod/prod.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, prod_shutter/destroy

#514 Update domain validation
  components/shutter_static_webapp/static_webapp.tf
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter/add-or-update, prod_shutter_static_webapp/destroy
