Repository hmcts/sds-azure-platform, pull requests merged in 2023-01, with the labels that each got.

#347 DTSPO-11790 - add expiresAfter tag
  components/apim/main.tf
  components/appgateway/main.tf
  components/backendappgateway/main.tf
  components/shutter/module_shutter.tf
  components/trafficmanager/main.tf
  environments/variable.tf
Labels: sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, ithc-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, prod-shutter/add-or-update, sbox-apim/add-or-update, sbox-shutter/add-or-update, dev-trafficmanager/add-or-update, prod-trafficmanager/add-or-update

#350 VIH-9446 - Add PR release for testing
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#351 Adding additional IP ranges for CGI whitelist
  environments/dev/dev.tfvars
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#352 Swap backend to 01 cluster
  environments/demo/demo.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes
