Repository hmcts/sds-azure-platform, pull requests merged in 2023-10, with the labels that each got.

#555 PUB-2085 - Removed old pip frontend domain
  environments/prod/prod.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/destroy, prod_appgateway/add-or-update, prod_frontdoor/destroy

#562 remove-appgw-for-upgrade
  environments/demo/demo.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, demo_appgateway/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_frontdoor/destroy

#563 Dtspo 15377 cluster 00 upgrade
  environments/demo/demo.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, demo_appgateway/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#564 remove appgw for upgrade
  environments/demo/demo.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, demo_appgateway/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#553 PUB-2115 - Added exclusion for pip
  environments/demo/demo.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, dev_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, sbox_frontdoor/add-or-update

#566 cluster-upgrade
  environments/stg/stg.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, stg_appgateway/add-or-update

#567 Dtspo 14192 cluster upg
  environments/stg/stg.tfvars
Labels: do_not_merge, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, stg_appgateway/add-or-update

#569 re-add-cluster-into-appgw
  environments/stg/stg.tfvars
Labels: do_not_merge, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, stg_appgateway/add-or-update

#570 remove cluster ithc 00 for upgrade
  environments/ithc/ithc.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, ithc_appgateway/add-or-update

#571 adding gw ip back for cluster 00 ithc
  environments/ithc/ithc.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, ithc_appgateway/add-or-update

#572 remove cluster itch 01 for upgrade
  environments/ithc/ithc.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, ithc_appgateway/add-or-update

#574 re-add app gw of ithc 01
  environments/ithc/ithc.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, ithc_appgateway/add-or-update, test_apim/destroy

#575 Add diagnostics storage account
  components/frontdoor/diagnostics.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, test_apim/add-or-update, ithc_frontdoor/add-or-update

#576 Send access logs to storage account
  components/frontdoor/main.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, ithc_frontdoor/add-or-update

#577 Send App gateway logs to storage account
  components/appgateway/diagnostics.tf
  components/appgateway/main.tf
  components/backendappgateway/diagnostics.tf
  components/backendappgateway/main.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, prod_trafficmanager/no-changes, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, ithc_frontdoor/add-or-update, sbox_appgateway/destroy, sbox_backendappgateway/destroy, ithc_appgateway/destroy, test_appgateway/destroy, demo_appgateway/destroy, prod_appgateway/destroy, dev_appgateway/destroy, stg_appgateway/destroy, test_backendappgateway/destroy, prod_backendappgateway/destroy, ithc_backendappgateway/destroy, dev_backendappgateway/destroy, demo_backendappgateway/destroy, stg_backendappgateway/destroy

#579 turning off sbox frontdoor for migration
  azure-pipelines.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#580 DTSPO-13993 - migrated sbox frontdoor
  azure-pipelines.yaml
  components/frontdoor/init.tf
  components/frontdoor/main.tf
  environments/sbox/sbox.tfvars
  environments/variable.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#581 fixing dev frontdoor
  azure-pipelines.yaml
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#582 DTSPO-15148 turning off all of the non-prod fds
  azure-pipelines.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#586 take out an appgw to test with VH
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#588 testing with VH
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#589 Revert "testing with VH"
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#591 DTSPO-14193: Remove appgw for 00
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#584 Updated application gateway config
  components/apim_appgw/main.tf
  environments/demo/apim_appgw_config.yaml
  environments/dev/apim_appgw_config.yaml
  environments/ithc/apim_appgw_config.yaml
  environments/prod/apim_appgw_config.yaml
  environments/sbox/apim_appgw_config.yaml
  environments/stg/apim_appgw_config.yaml
  environments/test/apim_appgw_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update

#592 Revert "DTSPO-14193: Remove appgw for 00"
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#593 DTSPO-14193: Remove appgw for 01
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#594 Revert "remove appgw for 01 (#593)"
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#590 Dtspo 15148 migrate nonprod fds
  azure-pipelines.yaml
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#578 Add Juror Scheduler-API to demo and staging
  environments/demo/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#597 DTSPO-15318: Add sbox-jenkins redirect
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#598 DTSPO-15318: Add sds sbox jenkins static redirect
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#599 DTSPO-15318: Add front door redirect to sds jenkins
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#604 Update pre-commit.yml
  .github/workflows/pre-commit.yml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, stg_apim/destroy

#603 Update pre-portal dev.tfvars
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, test_apim/destroy, ithc_frontdoor/add-or-update, stg_apim/destroy, dev_trafficmanager/add-or-update, prod_trafficmanager/add-or-update, sbox_apim/destroy, demo_apim/destroy, ithc_apim/destroy, prod_apim/destroy, dev_apim/destroy

#602 Added redirects for staff/sign-in links to B2C on demo and test
  environments/demo/demo.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, stg_apim/destroy, prod_apim/destroy, dev_apim/add-or-update
