Repository hmcts/sds-azure-platform, pull requests merged in 2023-04, with the labels that each got.

#404 testing with ithc environment
  environments/ithc/ithc.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes

#405 updated staging environment
  components/backendappgateway/main.tf
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#407 DTSPO-11734 - renovate - add schema
  .github/renovate.json
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, chore

#406 upgrading rest of the environment to tls1.2
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/prod/prod.tfvars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#410 Adding DARTS portal sandbox env config
  environments/sbox/sbox.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-shutter/add-or-update

#411 Update component names for darts backend apps
  environments/demo/backend_lb_config.yaml
  environments/dev/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, prod-apim/no-changes, test-appgateway/add-or-update, ithc-appgateway/add-or-update, test-apim/no-changes, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, ithc-frontdoor/no-changes, sbox-backendappgateway/destroy, ithc-backendappgateway/destroy, prod-backendappgateway/destroy, test-backendappgateway/destroy, stg-backendappgateway/destroy, dev-backendappgateway/destroy, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-shutter/add-or-update, demo-backendappgateway/destroy

#413 VIH-0000 - Amend Prod URLS for VH Cutover
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update

#415 VIH-0000 - Rollback Video Hearings
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-shutter/add-or-update

#416 Remove unused subscription variable
  components/frontdoor/init.tf
  components/frontdoor/main.tf
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-shutter/add-or-update

#417 Add ejudiciary redirects
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#412 Disable some sql rules in vh demo
  environments/demo/demo.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-shutter/add-or-update
