Repository hmcts/sds-azure-platform, pull requests merged in 2023-05, with the labels that each got.

#423 Added subscriptions exclusion to staging
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#424 Add subscriptions exclusion for CaTH
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#426 Remove duplicate ips
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#427 Remove duplicate ip
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#428 Remove duplicate ip
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#429 DTSPO-13722 - trigger build
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, dev-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, sbox-apim/destroy, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes

#431 update the identity name
  components/apim_appgw/main.tf
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/add-or-update

#433 VIH-0000 - Amend Prod URLS for VH Cutover
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes

#434 Add ejudiciary.net redirect
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/add-or-update

#435 Switch to managed cert for ejudiciary domains
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes

#437 changed nonprod environaments instances
  components/apim_appgw/main.tf
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
  environments/variable.tf
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, dev-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-apim/destroy, prod-apim/destroy, demo-apim/destroy, stg-apim/destroy, ithc-apim/destroy, dev-apim/destroy, sbox-apim/add-or-update, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/add-or-update, ithc-apim_appgw/add-or-update, test-apim_appgw/add-or-update, dev-apim_appgw/add-or-update, demo-apim_appgw/add-or-update

#439 updated module to test gateways
  azure-pipelines.yaml
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, dev-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-apim/destroy, prod-apim/destroy, demo-apim/destroy, stg-apim/destroy, ithc-apim/destroy, dev-apim/destroy, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes

#443 Adding managed rule exclusions to fix blocking issues on non prod env…
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/sbox/sbox.tfvars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#444 VIH-0000 Disable AFD cache for VH
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, ithc-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, demo-apim_appgw/add-or-update, ithc-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#445 Pre rec evi exclusions
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, sbox-shutter/add-or-update, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#447 Disable shutter
  environments/sbox/sbox.tfvars
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, sbox-shutter/destroy, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, demo-apim_appgw/add-or-update, ithc-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#448 added rewrite rule branch
  environments/demo/apim_appgw_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes
