Repository hmcts/sds-azure-platform, pull requests merged in 2023-08, with the labels that each got.

#516 Shutter web App: Change to standard sku
  components/shutter_static_webapp/static_webapp.tf
  components/shutter_static_webapp/variables.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, prod_shutter/add-or-update

#502 S28-1521 Add shutter page for PRE app
  environments/prod/prod.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter/add-or-update, prod_shutter_static_webapp/add-or-update

#517 remove shutter webapp
  environments/prod/prod.tfvars
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter/destroy, prod_shutter_static_webapp/destroy

#519 Dtspo 14746 added client cert apim appgw
  components/apim_appgw/download_root_certs.bash
  components/apim_appgw/local.tf
  components/apim_appgw/main.tf
  components/apim_appgw/merged.pem
Labels: sbox_shutter/no-changes, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_shutter/destroy

#520 DO NOT MERGE: Remove old shutter solution
  components/shutter/module_shutter.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter/destroy, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_shutter/destroy

#506 DTSPO-13833 updating pat-token to use SP-token
  azure-pipelines.yaml
Labels: dev-trafficmanager/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, sbox-shutter/destroy, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes, sbox_shutter/no-changes, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, sbox-shutter_static_webapp/no-changes, prod-shutter_static_webapp/add-or-update, prod_shutter_static_webapp/no-changes, prod_shutter/destroy

#521 Remove old shutter config
  azure-pipelines.yaml
  components/shutter/init.tf
  components/shutter/local.tf
  components/shutter/module_shutter.tf
  components/shutter/variable.tf
  modules/shutter_page/cdn_endpoints.tf
  modules/shutter_page/cdn_kv_access.tf
  modules/shutter_page/cdn_profiles.tf
  modules/shutter_page/custom_domains.tf
  modules/shutter_page/data.tf
  modules/shutter_page/enable_https.tf
  modules/shutter_page/storage_account.tf
  modules/shutter_page/templates/customHttps.json
  modules/shutter_page/templates/custom_domain.json
  modules/shutter_page/variable.tf
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#523 Update README.md
  README.md
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#524 VIH-10085 Update dev to whitelist pr url
  environments/dev/dev.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, dev_frontdoor/destroy

#527 PUB-1763 - Enabling https on the demo backend
  environments/demo/backend_lb_config.yaml
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_frontdoor/destroy

#529 PUB-1763 - Updated demo firewall to be the same as prod for pip
  environments/demo/demo.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_frontdoor/destroy, demo_frontdoor/add-or-update

#528 PUB-1897 - False Positive CaTH
  environments/prod/prod.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, dev_frontdoor/destroy, prod_frontdoor/add-or-update

#531 Add autoshutdown tag to app gateways
  components/appgateway/main.tf
  components/backendappgateway/main.tf
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
  environments/variable.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_frontdoor/no-changes, demo_appgateway/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update

#487 VIH-9995 disable cache for vh apps
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-frontdoor/add-or-update, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes, sbox-frontdoor/destroy, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_frontdoor/add-or-update
