Repository hmcts/sds-azure-platform, pull requests merged in 2023-06, with the labels that each got.

#449 Update cdn_endpoints.tf shutter names
  environments/dev/dev.tfvars
  environments/prod/prod.tfvars
  environments/test/test.tfvars
  modules/shutter_page/cdn_endpoints.tf
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, test-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, prod-shutter/add-or-update, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#453 VIH-9912 Add VH test exclustions
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, test-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#455 PIP Update Config for Test Env
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, test-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#456 Adding global_exclusions for DARTS frontdoor configuration
  environments/demo/demo.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, stg-frontdoor/add-or-update, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#457 Dev: Update backend Appgw IP to 10.145.32.135
  environments/dev/backend_lb_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#458 Remove kubernetes-internal ithc01 to allow AKS version upgrade
  environments/ithc/ithc.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#460 Revert "Remove kubernetes-internal ithc01 to allow AKS version upgrade"
  environments/ithc/ithc.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, demo-apim_appgw/add-or-update, ithc-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#461 Remove ithc00 kubernetes-internal for ithc00 AKS upgrade
  environments/ithc/ithc.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, dev-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, demo-apim_appgw/add-or-update, ithc-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#462 Revert "Remove ithc00 kubernetes-internal for ithc00 AKS upgrade"
  environments/ithc/ithc.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes, sbox-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#438 Adding darts-portal prod entry
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, dev-backendappgateway/add-or-update, stg-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-shutter/add-or-update, dev-apim/add-or-update, test-apim/add-or-update, ithc-apim/add-or-update, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#472 Revert "Remove test-01 to allow for AKS upgrade 1.26"
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/add-or-update, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#473 Remove sds-test-00 to allow for AKS upgrade 1.26
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#474 Revert "Remove sds-test-00 to allow for AKS upgrade 1.26"
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#476 Remove ss-stg-01 to allow 1.26 AKS version upgrade
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, stg-appgateway/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, prod-frontdoor/no-changes, test-frontdoor/no-changes, dev-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#471 Adding a new firewall exclusion reported from testing
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, sbox-frontdoor/add-or-update, demo-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, ithc-frontdoor/no-changes, sbox-appgateway/no-changes, ithc-appgateway/no-changes, prod-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes

#470 DARTS portal: Add prod and disable cache
  environments/demo/demo.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, ithc-apim/no-changes, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, demo-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, ithc-frontdoor/no-changes, prod-shutter/add-or-update, test-frontdoor/no-changes, dev-frontdoor/no-changes, sbox-shutter/add-or-update, ithc-appgateway/no-changes, test-appgateway/no-changes, demo-appgateway/no-changes, stg-appgateway/no-changes, dev-appgateway/no-changes, sbox-apim_appgw/no-changes, ithc-apim_appgw/no-changes, demo-apim_appgw/no-changes, test-apim_appgw/no-changes, dev-apim_appgw/no-changes, stg-apim_appgw/no-changes, prod-apim_appgw/no-changes, sbox-frontdoor/destroy
