Repository hmcts/sds-azure-platform, pull requests merged in 2023-09, with the labels that each got.

#536 Add PRE to FD and APPGW
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
  environments/dev/backend_lb_config.yaml
  environments/dev/dev.tfvars
  environments/prod/backend_lb_config.yaml
  environments/prod/prod.tfvars
  environments/sbox/backend_lb_config.yaml
  environments/sbox/sbox.tfvars
  environments/stg/backend_lb_config.yaml
  environments/stg/stg.tfvars
  environments/test/backend_lb_config.yaml
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update

#539 correct pre-portal to point to sandbox not sbox
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update

#542 Remove ss-sbox-00 to allow for AKS upgrade 1.27
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, sbox_frontdoor/destroy, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#541 Adding config for darts-stub-services
  environments/demo/backend_lb_config.yaml
  environments/dev/backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#544 add back ss-sbox-00 after upgrade
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#545 remove ss-sbox-01 to allow for aks upgrade
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#547 re-add cluster 01 after upgrade
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#550 DTSPO-13992 updating provider to fix pipeline
  components/frontdoor/main.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, sbox_frontdoor/destroy, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes

#532 Ensure lower environments are in sync for pip
  environments/demo/demo.tfvars
  environments/test/test.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, demo_frontdoor/add-or-update, test_frontdoor/add-or-update

#551 PUB-2115 - Updated exclusion for new cookie
  environments/test/test.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, test_frontdoor/add-or-update

#552 DTSPO-15145 - enable shutter pages for jd-bureau and jd-reply-jury-su…
  environments/prod/prod.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, sbox_frontdoor/destroy, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_shutter_static_webapp/no-changes

#554 Disabling frontdoor caching for DARTS portal
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, sbox_frontdoor/destroy, ithc_appgateway/no-changes, test_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, demo_apim_appgw/add-or-update

#556 remove-appgw-for-cluster-upgrade
  environments/test/test.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, sbox_frontdoor/destroy, ithc_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, test_appgateway/add-or-update

#558 re-add-cluster-upgrade
  environments/test/test.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, sbox_frontdoor/destroy, ithc_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, test_appgateway/add-or-update

#559 remove-cluster-for-upgrade
  environments/test/test.tfvars
Labels: sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, ithc_appgateway/no-changes, dev_appgateway/no-changes, demo_apim/no-changes, demo_appgateway/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_appgateway/no-changes, stg_appgateway/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, ithc_frontdoor/no-changes, dev_backendappgateway/add-or-update, demo_frontdoor/no-changes, stg_backendappgateway/add-or-update, test_frontdoor/no-changes, stg_frontdoor/no-changes, dev_frontdoor/no-changes, prod_frontdoor/no-changes, prod_trafficmanager/no-changes, sbox_appgateway/no-changes, sbox_frontdoor/no-changes, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, test_appgateway/add-or-update
