Repository hmcts/sds-azure-platform, pull requests merged in 2023-03, with the labels that each got.

#368 Remove External IP for ss-stg-00-aks for rebuild
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#371 Adding WAF exclusions to fix issues using the PRE portal
  environments/sbox/sbox.tfvars
  environments/test/test.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, sbox-frontdoor/add-or-update, test-frontdoor/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#373 Re-add External IP for ss-stg-00-aks for rebuild
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#374 Remove External IP for ss-stg-01-aks for rebuild
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#375 Re-add External IP for ss-stg-01-aks for rebuild
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#376 Pre rec s28 1030
  environments/demo/demo.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, demo-frontdoor/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, prod-shutter/no-changes

#377 Azure FrontDoor is suddenly blocking requests on the /Admin urls.
  environments/stg/stg.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, stg-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, prod-shutter/no-changes

#378 DTSPO-12867-sds-prod-cluster-rebuild - remove 00 AGW IP address
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#379 Azure FrontDoor is suddenly blocking requests on the /Admin urls.
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#380 DTSPO-12074 moidfy pipelinetests logic
  azure-pipelines-frontdoor.yaml
  azure-pipelines.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#382 DTSPO-12867-sds-prod-cluster-rebuild - re-add 00 AGW IP address
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#383 Add ssl_enabled flag to allow 443 listeners
  environments/demo/backend_lb_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#391 DTSPO-12867 - sds prod cluster 01 rebuild - remove 01 AGW IP address
  environments/prod/prod.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#393 DTSPO-11734 - enable automerge
  renovate.json
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#396 DTSPO-11734 - renovate - set schedule
  renovate.json
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, demo-apim/add-or-update, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#395 Add PRE dev
  environments/dev/dev.tfvars
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#397 remove frontdoor pipeline - back to one pipeline
  azure-pipelines-frontdoor.yaml
  azure-pipelines.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes

#400 testing on sbox with tls version 1.2
  .gitignore
  components/backendappgateway/main.tf
  environments/sbox/sbox.tfvars
  environments/variable.tf
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, prod-shutter/destroy, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, sbox-test_backendappgateway/add-or-update

#399 darts modernisation api and gateway added to load balancer config
  environments/demo/backend_lb_config.yaml
  environments/dev/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes

#402 DTSPO-11734 - renovate - use global presets
  .github/renovate.json
  renovate.json
Labels: dev-trafficmanager/no-changes, sbox-appgateway/add-or-update, sbox-shutter/no-changes, sbox-backendappgateway/add-or-update, sbox-apim/no-changes, prod-trafficmanager/no-changes, test-backendappgateway/add-or-update, prod-apim/no-changes, prod-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, test-appgateway/add-or-update, ithc-appgateway/add-or-update, stg-backendappgateway/add-or-update, test-apim/no-changes, dev-backendappgateway/add-or-update, dev-apim/no-changes, stg-apim/no-changes, dev-appgateway/add-or-update, ithc-apim/no-changes, demo-appgateway/add-or-update, ithc-backendappgateway/add-or-update, demo-apim/no-changes, prod-appgateway/add-or-update, stg-appgateway/add-or-update, dev-frontdoor/add-or-update, prod-frontdoor/add-or-update, sbox-frontdoor/no-changes, demo-frontdoor/no-changes, ithc-frontdoor/no-changes, test-frontdoor/no-changes, stg-frontdoor/no-changes, prod-shutter/no-changes
