Repository hmcts/sds-azure-platform, pull requests merged in 2024-04, with the labels that each got.

#727 Update cache-enabled to false for cicap
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#728 Update demo.tfvars
  environments/demo/demo.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#729 feat: specify timeout for LibraGoB
  environments/prod/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#731 juror: switch demo to detection mode with waf rules
  environments/demo/demo.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#730 PUB-2270 Remove disabling of managed WAF rule and custom rules for PIP
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#732 DMP-2534 Update DARTS portal cookie exclusions
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#734 Update backend_lb_config.yaml
  environments/demo/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#735 feat: bump timeout for LibraGoB test to match prod
  environments/test/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#736 DTSPO-16590 - remove sbox 00
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#737 Revert "DTSPO-16590 - remove sbox 00"
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#738 DTSPO-16590 - remove 01
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#739 Revert "DTSPO-16590 - remove 01"
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#741 Revert "DTSPO-16591 - remove demo00 from app gateway"
  environments/demo/demo.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#742 DTSPO-16591 - remove demo01 cluster from app gateway
  environments/demo/demo.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#743 Revert "DTSPO-16591 - remove demo01 cluster from app gateway"
  environments/demo/demo.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#745 DTSPO-16591 - remove test00 from appgateway
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#747 Revert "DTSPO-16591 - remove test00 from appgateway"
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, dev_trafficmanager/no-changes, sbox_shutter_static_webapp/add-or-update, sbox_frontdoor/add-or-update

#748 DTSPO-16591 - remove test01 cluster from appgateway
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#749 Revert "DTSPO-16591 - remove test01 cluster from appgateway"
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#746 update ithc to be in prevention mode
  environments/ithc/ithc.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#751 DTSPO-16591 - remove stg 00 cluster
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#752 Revert "DTSPO-16591 - remove stg 00 cluster"
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#754 Revert "DTSPO-16591 - remove stg 01 cluster"
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#756 Update backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#758 DTSPO-16592 - remove prod 00 cluster from appgateway
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#759 Revert "DTSPO-16592 - remove prod 00 cluster from appgateway"
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#760 DTSPO-16592 - remove prod 01 cluster from appgateway
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update
