Repository hmcts/sds-azure-platform, pull requests merged in 2024-08, with the labels that each got.

#823 DTSPO-18453: min/max set to 1/2 for stg apim_appgw
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, stg_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#824 juror JM-8022 sqli rce rules all envs
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#825 juror JM-8033 bureau sqli rules all envs
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#827 Declan clarke cgi patch 1
  environments/stg/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#830 juror JM-8107 Bureau SQLI rules all envs
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#831 Update backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update, stg_backendappgateway/destroy

#828 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#832 juror JM-8119 Bureau LFI rules all envs
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#833 Update backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#835 Add additional routes to apim route table
  components/apim/main.tf
  environments/stg/stg.tfvars
  environments/variable.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update, stg_apim/add-or-update
