Repository hmcts/sds-azure-platform, pull requests merged in 2024-02, with the labels that each got.

#665 Add new SQLI rule to disabled_rules
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#669 Agreed whitelist juror
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/backend_lb_config.yaml
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#670 add juror api
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#671 Add Opal Legacy Stub
  environments/stg/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#672 Add Opal Print Service
  environments/stg/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#674 juror: api health path override
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#675 add Palos to bureau whitelist for automation tests
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, test_apim/add-or-update, ithc_frontdoor/add-or-update, dev_apim/add-or-update, sbox_apim/add-or-update, ithc_apim/add-or-update, stg_apim/add-or-update, demo_apim/add-or-update, prod_apim/add-or-update

#678 PO-214: Add Opal log and audit service
  environments/stg/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#676 juror: stg frontdoor testing
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, test_apim/destroy, ithc_frontdoor/add-or-update, stg_apim/destroy, sbox_apim/destroy, demo_apim/destroy, ithc_apim/destroy, prod_apim/destroy, dev_apim/destroy

#679 Update backend_lb_config.yaml
  environments/demo/backend_lb_config.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update
