Repository hmcts/sds-azure-platform, pull requests merged in 2024-05, with the labels that each got.

#764 Update PRE Prod backend domain
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#766 attempt2 fmt
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/destroy, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, sbox_apim/add-or-update

#767 remove values and duplicated disabled_rules
  environments/prod/prod.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, sbox_apim/add-or-update

#771 DTSPO-17136-apim-upgrade-sbox
  components/apim/main.tf
  environments/sbox/sbox.tfvars
  environments/variable.tf
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, sbox_apim/add-or-update

#706 Removing IP for unhealthy backend pool on aks-fe-00-dev-agw
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, sbox_apim/add-or-update

#775 DTSPO-17136-apim-upgrade-improvements
  components/apim/main.tf
  environments/variable.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#776 Adding query string exclusion for DARTS portal
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#777 Ensure DARTS portal WAF exclusions are on all envs
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/sbox/sbox.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#778 add migration variable in dev tfvars
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, dev_apim/destroy

#779 DTSPO-17763-apim-upgrade-dev-migrate-back
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, dev_apim/destroy

#780 DTSPO-17763-sds-apim-dev-resource-cleanup
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, dev_apim/destroy

#781 added migration vars for ithc, ready to migrate
  environments/ithc/ithc.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, ithc_apim/destroy

#783 Update dev.tfvars
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, ithc_apim/add-or-update

#784 code cleanup sds apim ithc and added migration vars for sds apim demo
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, stg_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, demo_apim/destroy, ithc_apim/destroy

#785 add pipeline timeout for apim upgrade
  azure-pipelines.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#786 migrate sds apim demo back to original resources
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, demo_apim/destroy

#787 upgrade sds apim test and cleanup sds apim demo
  environments/demo/demo.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, stg_apim/no-changes, ithc_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, test_apim/destroy, ithc_frontdoor/add-or-update, demo_apim/destroy

#788 Fix vh-video-web-pr-2142.dev.platform.hmcts record
  environments/dev/dev.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#789 DTSPO-17762-sds-apim-test-upgrade-pt2
  environments/demo/demo.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, test_apim/destroy, ithc_frontdoor/add-or-update

#790 code cleanup sds apim test
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, test_apim/destroy, ithc_frontdoor/add-or-update

#791 revert pipeline timeout back to 60 minutes
  azure-pipelines.yaml
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#792 juror: update sqli rules
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update

#794 sds apim stg for upgrade pt2
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, stg_apim/destroy

#795 cleanup apim sds stg temp resources
  environments/stg/stg.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update, stg_apim/destroy

#796 revert apim module, apim upgrade complete
  components/apim/main.tf
  environments/variable.tf
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_apim_appgw/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, dev_apim_appgw/no-changes, ithc_backendappgateway/add-or-update, demo_apim_appgw/no-changes, ithc_apim_appgw/no-changes, dev_trafficmanager/no-changes, stg_apim_appgw/no-changes, prod_apim_appgw/no-changes, test_apim_appgw/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, ithc_frontdoor/add-or-update
