Repository hmcts/sds-azure-platform, pull requests merged in 2024-09, with the labels that each got.

#836 Remove 00 sbox ip
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#837 Remove IP for sbox 01 and add 00 back in
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/add-or-update, prod_shutter_static_webapp/add-or-update, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#838 Add IP for sbox 01
  environments/sbox/sbox.tfvars
Labels: sbox_appgateway/add-or-update, sbox_apim/no-changes, sbox_backendappgateway/add-or-update, demo_apim/no-changes, stg_apim/no-changes, ithc_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, dev_apim/no-changes, ithc_backendappgateway/add-or-update, dev_trafficmanager/no-changes, test_backendappgateway/add-or-update, prod_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, dev_backendappgateway/add-or-update, stg_backendappgateway/add-or-update, prod_trafficmanager/no-changes, demo_appgateway/add-or-update, stg_frontdoor/add-or-update, sbox_shutter_static_webapp/no-changes, prod_shutter_static_webapp/no-changes, dev_appgateway/add-or-update, prod_frontdoor/add-or-update, demo_frontdoor/add-or-update, dev_frontdoor/add-or-update, ithc_appgateway/add-or-update, test_appgateway/add-or-update, stg_appgateway/add-or-update, test_frontdoor/add-or-update, sbox_frontdoor/add-or-update, prod_appgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, ithc_apim_appgw/add-or-update, dev_apim_appgw/add-or-update, prod_apim_appgw/add-or-update, stg_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, ithc_frontdoor/add-or-update

#839 Remove 00 demo ip
  environments/demo/demo.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#841 Add 00 and 01 demo Ip back
  environments/demo/demo.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#842 Remove demo 01 IP
  environments/demo/demo.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#843 Remove 00 IP
  environments/test/test.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#844 Add back demo 01 IP
  environments/demo/demo.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#845 Add test 00 IP back to app gateway
  environments/test/test.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#846 Remove test 01 IP
  environments/test/test.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#848 Remove stg00 from appgateway
  environments/stg/stg.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#849 Revert "Remove stg00 from appgateway"
  environments/stg/stg.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#850 Remove stg01 from appgateway
  environments/stg/stg.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#851 Revert "Remove stg01 from appgateway"
  environments/stg/stg.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#852 Remove prod 00 from appgw
  environments/prod/prod.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#853 Revert "Remove prod 00 from appgw"
  environments/prod/prod.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#854 Remove prod 01 from appgw
  environments/prod/prod.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#855 Revert "Remove prod 01 from appgw"
  environments/prod/prod.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes
