Repository hmcts/sds-azure-platform, pull requests merged in 2025-07, with the labels that each got.

#950 Adding Courtfines FD config to Demo and ITHC
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
Labels: 543: sbox_apim - TerraformPlanApply/no-changes, 543: demo_apim - TerraformPlanApply/no-changes, 543: ithc_apim - TerraformPlanApply/no-changes, 543: dev_apim - TerraformPlanApply/no-changes, 543: test_apim - TerraformPlanApply/no-changes, 543: stg_apim - TerraformPlanApply/no-changes, 543: stg_frontdoor - TerraformPlanApply/destroy, 543: test_frontdoor - TerraformPlanApply/destroy, 543: prod_frontdoor - TerraformPlanApply/destroy, 543: ithc_frontdoor - TerraformPlanApply/destroy, 543: dev_frontdoor - TerraformPlanApply/destroy, 543: demo_frontdoor - TerraformPlanApply/destroy, 543: sbox_apim_appgw - TerraformPlanApply/destroy, 543: test_apim_appgw - TerraformPlanApply/destroy, 543: demo_apim_appgw - TerraformPlanApply/destroy, 543: stg_apim_appgw - TerraformPlanApply/destroy, 543: ithc_apim_appgw - TerraformPlanApply/destroy, 543: dev_apim_appgw - TerraformPlanApply/destroy, 543: prod_apim_appgw - TerraformPlanApply/destroy

#936 PUB-2732 - Removed Channel + Subscription Management
  environments/prod/backend_lb_config.yaml
Labels: 543: sbox_apim - TerraformPlanApply/no-changes, 543: demo_apim - TerraformPlanApply/no-changes, 543: ithc_apim - TerraformPlanApply/no-changes, 543: dev_apim - TerraformPlanApply/no-changes, 543: test_apim - TerraformPlanApply/no-changes, 543: stg_apim - TerraformPlanApply/no-changes, 543: stg_frontdoor - TerraformPlanApply/destroy, 543: prod_frontdoor - TerraformPlanApply/destroy, 543: sbox_apim_appgw - TerraformPlanApply/destroy, 543: test_apim_appgw - TerraformPlanApply/destroy, 543: demo_apim_appgw - TerraformPlanApply/destroy, 543: stg_apim_appgw - TerraformPlanApply/destroy, 543: ithc_apim_appgw - TerraformPlanApply/destroy, 543: dev_apim_appgw - TerraformPlanApply/destroy, 543: prod_apim_appgw - TerraformPlanApply/destroy

#951 updated Courtfines ITHC zone
  environments/ithc/ithc.tfvars
Labels: 543: sbox_apim - TerraformPlanApply/no-changes, 543: demo_apim - TerraformPlanApply/no-changes, 543: ithc_apim - TerraformPlanApply/no-changes, 543: dev_apim - TerraformPlanApply/no-changes, 543: test_apim - TerraformPlanApply/no-changes, 543: stg_apim - TerraformPlanApply/no-changes, 543: stg_frontdoor - TerraformPlanApply/destroy, 543: prod_frontdoor - TerraformPlanApply/destroy, 543: ithc_frontdoor - TerraformPlanApply/destroy, 543: sbox_apim_appgw - TerraformPlanApply/destroy, 543: test_apim_appgw - TerraformPlanApply/destroy, 543: demo_apim_appgw - TerraformPlanApply/destroy, 543: stg_apim_appgw - TerraformPlanApply/destroy, 543: ithc_apim_appgw - TerraformPlanApply/destroy, 543: dev_apim_appgw - TerraformPlanApply/destroy, 543: prod_apim_appgw - TerraformPlanApply/destroy

#952 Updated Courtfines CNAME
  environments/stg/stg.tfvars
Labels: 543: sbox_apim - TerraformPlanApply/no-changes, 543: demo_apim - TerraformPlanApply/no-changes, 543: ithc_apim - TerraformPlanApply/no-changes, 543: dev_apim - TerraformPlanApply/no-changes, 543: test_apim - TerraformPlanApply/no-changes, 543: stg_apim - TerraformPlanApply/no-changes, 543: sbox_frontdoor - TerraformPlanApply/destroy, 543: stg_frontdoor - TerraformPlanApply/destroy, 543: test_frontdoor - TerraformPlanApply/destroy, 543: prod_frontdoor - TerraformPlanApply/destroy, 543: ithc_frontdoor - TerraformPlanApply/destroy, 543: dev_frontdoor - TerraformPlanApply/destroy, 543: demo_frontdoor - TerraformPlanApply/destroy, 543: sbox_apim_appgw - TerraformPlanApply/destroy, 543: test_apim_appgw - TerraformPlanApply/destroy, 543: demo_apim_appgw - TerraformPlanApply/destroy, 543: stg_apim_appgw - TerraformPlanApply/destroy, 543: ithc_apim_appgw - TerraformPlanApply/destroy, 543: dev_apim_appgw - TerraformPlanApply/destroy, 543: prod_apim_appgw - TerraformPlanApply/destroy

#956 Update backend_lb_config.yaml
  environments/demo/backend_lb_config.yaml
Labels: 543: sbox_apim - TerraformPlanApply/no-changes, 543: demo_apim - TerraformPlanApply/no-changes, 543: ithc_apim - TerraformPlanApply/no-changes, 543: dev_apim - TerraformPlanApply/no-changes, 543: test_apim - TerraformPlanApply/no-changes, 543: stg_apim - TerraformPlanApply/no-changes, 543: stg_frontdoor - TerraformPlanApply/destroy, 543: prod_frontdoor - TerraformPlanApply/destroy, 543: sbox_apim_appgw - TerraformPlanApply/destroy, 543: test_apim_appgw - TerraformPlanApply/destroy, 543: demo_apim_appgw - TerraformPlanApply/destroy, 543: stg_apim_appgw - TerraformPlanApply/destroy, 543: ithc_apim_appgw - TerraformPlanApply/destroy, 543: dev_apim_appgw - TerraformPlanApply/destroy, 543: prod_apim_appgw - TerraformPlanApply/destroy
