Repository hmcts/sds-azure-platform, pull requests merged in 2025-03, with the labels that each got.

#898 PO-1288: Add opal-frontend-test
  environments/stg/stg.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, dev_trafficmanager - TerraformPlanApply/no-changes, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, prod_apim - TerraformPlanApply/no-changes, test_frontdoor - TerraformPlanApply/destroy, dev_frontdoor - TerraformPlanApply/destroy, prod_frontdoor - TerraformPlanApply/destroy, sbox_frontdoor - TerraformPlanApply/destroy, demo_frontdoor - TerraformPlanApply/destroy, ithc_frontdoor - TerraformPlanApply/destroy, stg_frontdoor - TerraformPlanApply/destroy

#905 Bump 1.10.4 to 1.11.0 on backendapp-gateway and app-gateway component
  components/apim/init.tf
  components/appgateway/init.tf
  components/backendappgateway/init.tf
  components/shutter_static_webapp/init.tf
  components/trafficmanager/init.tf
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes, prod_frontdoor - TerraformPlanApply/destroy, stg_frontdoor - TerraformPlanApply/destroy

#901 remove domains tribs prod
  environments/prod/prod.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes, prod_frontdoor - TerraformPlanApply/destroy, stg_frontdoor - TerraformPlanApply/destroy

#907 Add-custom-timeout-darts-gw
  components/apim/init.tf
  components/apim_appgw/init.tf
  components/appgateway/init.tf
  components/backendappgateway/init.tf
  components/frontdoor/init.tf
  components/shutter_static_webapp/init.tf
  components/trafficmanager/init.tf
  environments/stg/backend_lb_config.yaml
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes

#908 remove prod domain waf tribunals decisions
  environments/prod/prod.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_apim - TerraformPlanApply/no-changes, sbox_frontdoor - TerraformPlanApply/add-or-update, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, ithc_apim - TerraformPlanApply/no-changes, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes, dev_apim - TerraformPlanApply/no-changes, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, prod_apim - TerraformPlanApply/no-changes, prod_frontdoor - TerraformPlanApply/destroy

#909 PUB-2778 - Updated firewall in ITHC for CaTH
  environments/ithc/ithc.tfvars
Labels: sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_appgateway - TerraformPlanApply/add-or-update, sbox_frontdoor - TerraformPlanApply/add-or-update, ithc_appgateway - TerraformPlanApply/add-or-update, dev_apim_appgw - TerraformPlanApply/add-or-update, prod_apim_appgw - TerraformPlanApply/add-or-update, stg_appgateway - TerraformPlanApply/add-or-update, test_appgateway - TerraformPlanApply/add-or-update, ithc_apim_appgw - TerraformPlanApply/add-or-update, demo_appgateway - TerraformPlanApply/add-or-update, stg_apim_appgw - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, prod_appgateway - TerraformPlanApply/add-or-update, dev_appgateway - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, stg_frontdoor - TerraformPlanApply/add-or-update, test_frontdoor - TerraformPlanApply/add-or-update, demo_frontdoor - TerraformPlanApply/add-or-update, dev_frontdoor - TerraformPlanApply/add-or-update, prod_frontdoor - TerraformPlanApply/add-or-update, ithc_frontdoor - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/destroy, sbox_apim - TerraformPlanApply/destroy, demo_apim - TerraformPlanApply/destroy, dev_apim - TerraformPlanApply/destroy, ithc_apim - TerraformPlanApply/destroy, test_apim - TerraformPlanApply/destroy, prod_apim - TerraformPlanApply/destroy
